In [62]:
print("hello")

hello

In [63]:
import pandas as pd
from cassandra.cluster import Cluster

In [64]:
# cassandra connectivity
clstr = Cluster()
session = clstr.connect()

In [65]:
# to create the keyspace in the 
session.execute("CREATE KEYSPACE IF NOT EXISTS midexam with REPLICATION= {'class':'SimpleStrategy','replication_factor':2}")

In [66]:
# session.execute('''DROP KEYSPACE midexam''')

In [67]:
# to displays m14 keyspaces 
rows = session.execute("desc keyspaces")
for row in rows:
    print(f"{row[0]}")

m14
midexam
system
system_auth
system_distributed
system_schema
system_traces
system_views
system_virtual_schema

In [68]:
with open("midexam.txt:", "w") as data:
 data.write ("name = keerthi")

In [69]:
with open("midexam.txt:", "r") as data:
 tmp =data.read ()
 tmp

In [72]:

session.execute("""
CREATE TABLE IF NOT EXISTS midexam.user_Info(
     userid INT,
     date    TEXT,
     filetype    TEXT,
     PRIMARY KEY(userid)                    
                  
);
""")

In [73]:
session.execute("select * from midexam.user_Info")

In [76]:
data = [(123,"23/3/2022","txt"),
        (122,"23/3/2012","txt")]

for d in data:
    
    session.execute("""
        INSERT INTO midexam.user_Info (userid ,date,filetype)     
        VALUES(%s, %s, %s);
    """,(d[0],d[1],d[2]))

In [81]:
rows = session.execute('''SELECT * FROM  midexam.user_Info ''')
for j in rows:
    print(f"{j[0][0]},{j[0][1]},{j[0][2]}")

TypeError: 'int' object is not subscriptable